@model F1Pharmacy.Models.Stock

@{
    ViewData["Title"] = $"Item {Model.Id}";
}
<h1>@ViewData["Title"]</h1>

<p>
    <b>Id:</b> @Model.Id
</p>
<p>
    <b>Item:</b> @Model.Item
</p>
<p>
    <b>Quantidade:</b> @Model.Quantity
</p>